*{
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1024px;

    margin: 0 auto;

    font-size: 18px;
    text-align: left;
    color: #283E4A;

    background: #F5F5F5;
}

header {
    position: fixed;
    width: 1024px;

    display: flex;
    flex-direction: column;

    background-image: url(../img/Background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

header ul {
    padding: 35px;

    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}
  
header li a {
    padding: 20px;

    font-size: 25px;
    color: #F5F5F5;
    text-decoration: none;
}

header li a:hover{
    color:  #fc4b1ace;

    transition: linear 0.2s;
}

main{
    background: #ffffff;
}

.container{
    margin: 0 80px 0px 80px;
    padding-top: 160px;
    padding-bottom: 80px;
}

.info{
    display: flex;
    flex-direction: row;
}

.info__name-contacts,
.info__photo{
    width: 50%;
}

.contacts{
    padding: 0;
    padding-top: 30%;
}

.contacts li a{ 
    color: #0f2133;
}

.info__photo img{
    width: 70%;
}

.summary__header,
.skills__header,
.coruses__header,
.english__header,
.code-example__header{
    padding: 20px 20px 20px 0;
}

.skills__list{
    padding: 0 0 0 20px;

    list-style: square;
}

.skills__list li{
    left: 0;
}

.code-example pre{
    background: rgb(231, 231, 231);
}

.code-example code{
    font-family: Consolas, monospace;
}

.courses__table{
    border-spacing: 0;
    border-collapse: collapse;
}

.courses__table tbody{
    display: table-row-group;

    vertical-align: middle;
}

.courses__table td{
    padding: 13px 6px;
    
    border: 1px solid #0f2133;
}

footer{
    display: flex;

    height: 80px;
    width: 1024px;

    justify-content: center;

    background-color: #283E4A;
    background-image: url(../img/Background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.cv-link{
    padding-top: 40px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

}